@import "tailwindcss" ; 

.titre {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.navbar {
  display : flex;
  justify-content: space-between;
  align-items: center;

  padding : 15px 40px;

  border-bottom: 4px solid #4f372f;

  background-color: #c5907f;
}

.logo {
  font-size: 24px; 
  font-weight: bold;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}